.industry-blog-posts {
    margin-left: -15px;
    margin-right: -15px;
    .post-grid-item {
        margin-bottom: 0;
        padding: 0 15px;
    }
    .slick-dots {
        text-align: center;
    }
}