.vc_row {
    position: relative;
    margin-bottom: 0;
    .vc-row-overlay {
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    .vc_column_container {
        z-index: 2;
    }
}
/*--------------------------------------------------------------
## VC Custom Heading
--------------------------------------------------------------*/
@import "vc-custom-heading";
/*--------------------------------------------------------------
## Proaduct Slider
--------------------------------------------------------------*/
@import "vc-slider";
/*--------------------------------------------------------------
## Icon Button
--------------------------------------------------------------*/
@import "vc-icon-button";
/*--------------------------------------------------------------
## Testimonial
--------------------------------------------------------------*/
@import "vc-testimonial";
/*--------------------------------------------------------------
## Staff Grid
--------------------------------------------------------------*/
@import "vc-staff-grid";
/*--------------------------------------------------------------
## Services Grid
--------------------------------------------------------------*/
@import "vc-services-grid";
/*--------------------------------------------------------------
## Counter
--------------------------------------------------------------*/
@import "vc-counter";
/*--------------------------------------------------------------
## Product Carousel
--------------------------------------------------------------*/
@import "vc-product-carousel";
/*--------------------------------------------------------------
## Product Tabs
--------------------------------------------------------------*/
@import "vc-product-tabs";
/*--------------------------------------------------------------
## Widget Product
--------------------------------------------------------------*/
@import "vc-widget-product";
/*--------------------------------------------------------------
## Product Categories
--------------------------------------------------------------*/
@import "vc-product-categories";
/*--------------------------------------------------------------
## Hot Deals
--------------------------------------------------------------*/
@import "vc-hot-deals";
/*--------------------------------------------------------------
## Icon Boxes
--------------------------------------------------------------*/
@import "vc-icon-boxes";
/*--------------------------------------------------------------
## Blog Post
--------------------------------------------------------------*/
@import "vc-blog-posts";
/*--------------------------------------------------------------
## Progress Bar
--------------------------------------------------------------*/
@import "vc-progress-bar";
/*--------------------------------------------------------------
## Tabs
--------------------------------------------------------------*/
@import "vc-tabs";
/*--------------------------------------------------------------
## Toggle
--------------------------------------------------------------*/
@import "vc-toggle";
/*--------------------------------------------------------------
## Contact
--------------------------------------------------------------*/
@import "vc-contact";
/*--------------------------------------------------------------
## Custom Class
--------------------------------------------------------------*/
@import "vc-custom-class";
