.icon-btn {
	margin: 10px auto;
	.button {
		display: inline-block;
		border: 2px solid;
	}
	.icon-in-btn {
		padding-right: 6px;
	}
	.link-title {
		font-weight: bold;
		text-transform: uppercase;
	}
}