.custom-banner {
	padding: 35px 25px;
	color: #FFF;
	.sub-title {
		margin-bottom: 2px;
		color: rgba( 0, 0, 0, .4)
	}
	&-title {
		color: #FFF;
		font-size: 17px;
		text-transform: uppercase;
	}
	.button.secondary-button {
		border-color: #FFF !important;
		color: #FFF;
		.fa {
			color: #454545;
		}
		&:hover {
			background: #FFF;
			color: #454545;
		}
	}
}